{% extends 'layout.html' %}

{% block body %}

<div class="col-md-4 offset-md-4">
    <form action="/empresa/update/{{empresa.0}}" method="POST">

        <div class="form-group">
            <input type="text" name="Rut" placeholder="Rut" value="{{empresa.1}}" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" name="Nombre_empresa" placeholder="Nombre_empresa" value="{{empresa.2}}" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" name="Dirección" placeholder="Dirección" value="{{empresa.3}}" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" name="Nombre_encargado" placeholder="Nombre_encargado" value="{{empresa.4}}" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block">Save</button>
        </div>
        </form>
    </form>
</div>

{% endblock %}